name: Build Gitlogue

on:
  workflow_dispatch:
    inputs: 
      branch: 
        description: 'gitlogue branch'      
        required: true 
        default: '0.6.0'

jobs:
  build-artifacts:
    if: github.repository_owner == github.actor
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Clone Gitlogue
        env:
         BRANCH: ${{ github.event.inputs.branch }}
        run: |
          git clone -b $BRANCH https://github.com/unhappychoice/gitlogue.git
          
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu
          
      - name: Build
        run: cd gitlogue && cargo build --release --target x86_64-unknown-linux-gnu
        env:
          OPENSSL_VENDORED: 1
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gitlogue-${{ github.event.inputs.branch }}-x86_64-unknown-linux-gnu
          path: gitlogue/gitlogue
